.jumbotron
.container
  .page-header
    %h1
      New to +Creator?
      %small Email Confirmation
  %p.lead
    We've resent you an email with an activation link.
    %span.muted Why not grab a hot coffee while you wait?
