.jumbotron
.container
  .page-header
    %h1
      New to +Creator?
      %small Email Confirmed
  .row
    .span12
  .alert.alert-success
    %button{:type => "button", :class => "close", "data-dismiss" => "alert"} x
    Your email address has been confirmed.
  %p.lead
    We are currently reviewing your sign up application!
  %p
    We'll be in touch via email when we activate your account.
    Generally the review process takes under 12hrs so keep an eye out.
