- @content_type = ContentType.find(params[:id])
- content_for :masthead do
  %h2 Content Types
  %p= "Edit #{@content_type.name} Configuration"
.alert.alert-error.alert-block
  %strong Content Types heavily affect +Creator operation!
  %p It is recommended that you consult the documentation for this system before making any changes
= render 'form'
