.alert.alert-error.alert-block
  %strong Content Types heavily affect +Creator operation!
  %p It is recommended that you consult the documentation for this system before making any changes
.page-header
  %h1 Content Types
  %h4.muted Editing an existing content type
= render 'form'
