- content_for :masthead do
  .pull-right.operations
    %a.btn.btn-primary{href: new_dashboard_campaign_url}
      %i.icon-bolt &nbsp;
      New Campaign
  %h2 Campaigns
  %p Campaign Library
.goose

