<h1>New survey</h1>

<form id="new-survey" name="survey">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Surveys" />
  </div>

</form>

<a href="#/index">Back</a>