%ul.nav.nav-tabs.nav-stacked.nav-sidebar
  %li{:class=>("active" if params[:controller] == "dashboard" and params[:action] == "index") }
    %a{:href => "/dashboard"}
      %i.icon-chevron-right
      Summary
  %li{:class=>("active" if params[:controller] == "billing") }
    %a{:href => "/dashboard/billing"}
      %i.icon-chevron-right
      Billing
  %li{:class=>("active" if params[:controller] == "create") }
    %a{:href => "/dashboard/new"}
      %i.icon-chevron-right
      New Campaign
  - if current_member.try(:admin?)
    %li.nav-header Administrator
    %li{:class=>("active" if params[:controller] == "administrator") }
      %a{:href => "/dashboard/admin/accounts"}
        %i.icon-chevron-right
        - if Member.where("activated = false AND confirmed_at is not null").count > 0
          %span.badge.badge-important
            = Member.where("activated = false AND confirmed_at is not null").count
        Accounts

