- content_for :scripts do
  = javascript_include_tag 'create/create'
  = javascript_include_tag 'create/ember-data'

%script{:type => "text/x-handlebars", :'data-template-name' => "app"}
  {{outlet}}
