.jumbotron
.container
  .page-header
    %h1
      New to +Creator?
      %small Sign up
  %p.lead
    We are currently reviewing your sign up application!
  %p
    We'll be in touch via email when we activate your account.
    Generally the review process takes under 12hrs so keep an eye out.
