.container
  / Main hero unit for a primary marketing message or call to action
  .hero-unit
    %h1 Outreach Creator!
    %p This tool is for ministries around the world to create surveys and digital outreaches
    %p
      %a.btn.btn-primary.btn-large Learn more »
  / Example row of columns
  .row
    .span4
      %h2 Features
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %ul
        %li It works
        %li Tatai made it
        

  %hr
    %footer
      %p © Company 2012