.container
  / Main hero unit for a primary marketing message or call to action
  .hero-unit
    %h1 Outreach Creator!
    %p This tool is for ministries around the world to create surveys and digital outreaches
    %p
      %a.btn.btn-primary.btn-large Learn more »
  / Example row of columns
  .row
    .span11
      %h2 Pricing
      %p Here we're gonna have a pricing calculator, but it will probably cost $42 per month
      

  %hr
    %footer
      %p © Company 2012