.jumbotron
.container
  .hero-unit
    %h1
      Low prices, big value.
    %br
    %p
      Reach out to your audience without it hitting you hard in the wallet.
  .row
    .span12
      %section#pricing
        %table.table.table-striped
          %thead
            %tr
              %th Surveys Per Month
              %th
                %h3 Development
                %b.caret
              %th.highlighted
                %h3 0-1000
                %b.caret
              %th
                %h3 1000-10000
                %b.caret
              %th
                %h3 10000+
                %b.caret
          %tfoot
            %tr
              %td
              %td
          %tbody
            %tr
              %th
                %h4 Cost Per Survey
                %p.muted Base Cost a of Completed Survey.
              %td
                FREE
              %td.highlighted
                %strong FREE
              %td 3&#162;
              %td 1&#162;
            %tr
              %th
                %h4 SMS Message
                %p.muted Connect with your target audience by sending them an SMS.
              %td
                FREE
              %td.highlighted 3&#162
              %td 2&#162
              %td 2&#162
  .row
    .span6
      %h5 Can I upgrade or downgrade my account in the future if my requirements change?
      %p Yes, of course - you can change your package at any time through your account page. When you change, we will change your limits straight away and start your new billing amount from your next renewal date.

      %h5 Can I cancel my account easily?
      %p Although we'd be sad to see you go, you can close your account in less than 3 clicks. Just go to your account settings page and hit 'Cancel my account' at anytime.

      %h5 How safe is my data?
      %p From a technical point of view, all data uploaded into your account is stored on our redundant storage arrays and backed up nightly. From an ownership point of view, you remain the owner and copyright holder for anything you upload - we just store it for you in the most secure way we know how.
    .span6
      %h5 Do I have to sign any contracts?
      %p Nope - nothing to sign - you have total flexibility to use +Creator as much or as little as you please.

      %h5 What is the development tier for?
      %p This tier lets you create, share and test campaigns without worry about costs. Once your ready to release to the world you can simply switch off development mode. There is a 100 survey maximum in developer mode.

      %h5 What payment methods do you accept?
      %p For monthly subscription payments, we can accept Visa, Mastercard, Visa Electron or American Express. All our card transactions are processed using DPS Payment Gateway.
