.jumbotron
.container
  .page-header
    %h1
      Pricing
  .row
    .span11
      %p Here we're gonna have a pricing calculator, but it will probably cost $42 per month
  %hr
    %footer
      %p © Company 2012
