.jumbotron
.container
  .page-header
    %h1
      New to +Creator?
      %small Sign up
  %p
    Our service requires you to sign up using Facebook.
    .form-actions
      %a.btn.btn-primary{:href => "/signup_fb"} Sign In Facebook
