= render 'site/tour/nav'
#page-title
  #page-title-inner
    .container
      .overview
        Design.
        %br
        %small Get your look pixel perfect with custom themes.
.container
  .row
    .span8.offset2
      .row-fluid
        .span3.center
          %i.icon-star-empty.circle-color.big
        .span9
          %h3
            Skin your Campaigns with Themes
          %p
            To get your camapaign looking great youll need a theme. You can either use our theme roller, choose from a range of themes that our design team has come up with, or hire our designers to get something a bit more custom.
      %hr
      .row-fluid
        .span3.center
          %i.icon-plane.circle-color.big
        .span9
          %h3
            Theme Marketplace
          %p
            Before you even dive into creating a campaign you can use the theme browser to find the perfect theme. You can browse through featured themes, themes recently created, and checkout your library of themes. Found a theme you love? Simply add it to your favourites and access them later.
      %hr
      .row-fluid
        .span3.center
          %i.icon-laptop.circle-color.big
        .span9
          %h3
            Theme Roller
          %p
            Roll your own theme using our awesome theme roller. Our easy to use roller lets you skip all the technical stuff and get right into the design side of themes. You'll need some basic skills in HTML & CSS to get started.
      %hr
      .row-fluid
        .span3.center
          %i.icon-cloud.circle-color.big
        .span9
          %h3
            Share Themes you've made
          %p
            Just taken the wraps of your awesome new theme? Share it and make it available to others. You can put it into the Theme Marketplace by offering it for free or for a nominal fee. Get involved in our program for designers where you can work with ministries around the world and get paid by designing custom themes.
      %hr
      .row-fluid
        .span3.center
          %i.icon-exchange.circle-color.big
        .span9
          %h3
            Hire a Designer
          %p
            Can't find a theme? Use our designers to get something custom made for you and your ministry. Either choose a theme to modify or start from scratch. Either way, our designers are more than happy to help.
      = render "site/tour/signup"
      %hr
      .row-fluid
        .span12
          %i.icon-chevron-left &nbsp;
          %a{href:"create"} Previous: Create
          .pull-right
            %a{href:"customize"} Next: Customize
            &nbsp;
            %i.icon-chevron-right
