.jumbotron
.container
  .page-header
    %h1
      New to +Creator?
      %small Sign up
  .row
    .span12
      .alert.alert-success
        %button{:type => "button", :class => "close", "data-dismiss" => "alert"} x
        Your email address has been confirmed.
      %p Sweet. Looks like your email is legit.
