/*
 *= require codemirror
 *= require _font-awesome
 *= require formtastic-bootstrap
 *= require_tree ./creatr_site
 *= require_self
*/

[class^="icon-"],
[class*="icon-"] {
  background: none;
  width: auto;
  height: auto;
  line-height: auto;
}
