.accordion {

  .accordion-heading {
    background-color: #e3e3e3;
    padding: 8px;
    .accordion-toggle {
      line-height: 30px;
      padding: 0px;
      font-size: 20px;
      text-decoration: none;
    }
  }

}
