// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  position: fixed;
  bottom:0;
  right:0;
  left:0;
  background-color: #f5f5f5;
  p {
    padding:20px;
  }
}

.navbar-spacer {
  height:70px;
  width:100%;
}

div.cards div {
  background:url(asset_path('card-types.png', image)) 0 0 no-repeat;
  height:18px;
  float:left;
  &.visa {
    width: 39px;
    background-position: -1px 0;
  }
  &.mastercard {
    width: 30px;
    background-position: -49px 0;
    margin-left: 9px;
  }
  &.amex {
    width: 52px;
    background-position: -88px 0;
    margin-left: 9px;
  }
  &.discover {
    width: 77px;
    background-position: -153px 0;
    margin-left: 13px;
  }
  &.jcb {
    width: 16px;
    background-position: -240px 0;
    margin-left: 10px;
  }
}

.nav-sidebar {
  li {
    a {
      span.badge {
        float:right;
        margin-right:5px;
      }
      .icon-chevron-right {
        float:right;
        opacity:0.25;
      }
      &:hover {
        .icon-chevron-right {
          opacity:0.5;
        }
      }
    }
    &.active {
      a, a:hover {
        color: white;
        background-color: #08C;
        .icon-chevron-right {
          opacity:1;
        }
      }
    }
  }
}

div.CodeMirror {
  border:1px #ccc solid;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 979px) {
  .dash {
    .navbar-fixed-top {
      position:fixed;
    }

    .navbar-inner {
      display:fixed;
      border-radius: 0;
      padding:0 !important;
      margin: 0 !important;
    }
  }
}
