/*
 *= require codemirror
 *= require jquery.ui.datepicker
*/
@import 'twitter/bootstrap';
@import 'formtastic-plus-bootstrap';
@import 'font-awesome';
@import "compass/css3";

html,
body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
.ace {
  float:left;
  width:400px;
  height:500px;
  div {
    width:400px;
    height:500px;
  }
}
#main-nav {
  background-color: #E7E7E7;
  border-right: 1px solid #CCC;
  display: none;
  position: absolute;
  overflow: none;
  top: 42px;
  bottom: 0;
  left: -1px;
  width: 60px;
  li {
    font-size:30px;
    line-height:60px;
    text-align:center;
    a {
      color:#888;
    }
  }
}
.inputs {
  .fl {
    float:left;
    label {
      input[type="checkbox"] {
        margin-left:0 !important;
      }
    }
    &.first {
      margin-left:240px;
    }
  }
  .checkboxlist {
    list-style-type: none;
    padding-top:5px;
  }
  .platform ul.errors {
    list-style-type: none;
    margin-left:240px;
    color:red;
    display:block;
    float:none;
  }
}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  position: fixed;
  bottom:0;
  right:0;
  left:0;
  background-color: #f5f5f5;
  p {
    padding:20px;
  }
}
.navbar .btn {
  margin-top: 8px;
}
.goose {
  background:image-url('goose-egg.png') top center no-repeat;
  margin:20px auto 20px auto;
  width:100%;
  padding-top:186px;
  text-align:center;
  font-weight:bold;
  font-size:20px;
  color:#636363;
  &:after {
    content:"Goose egg. There's no information available.";
  }
}
.nav-pills > .active > a > [class^="icon-"] {
  background:inherit;
}
.navbar-spacer {
  height:50px;
  width:100%;
}

div.cards div {
  background:url(asset_path('card-types.png', image)) 0 0 no-repeat;
  height:18px;
  float:left;
  &.visa {
    width: 39px;
    background-position: -1px 0;
  }
  &.mastercard {
    width: 30px;
    background-position: -49px 0;
    margin-left: 9px;
  }
  &.amex {
    width: 52px;
    background-position: -88px 0;
    margin-left: 9px;
  }
  &.discover {
    width: 77px;
    background-position: -153px 0;
    margin-left: 13px;
  }
  &.jcb {
    width: 16px;
    background-position: -240px 0;
    margin-left: 10px;
  }
}

div.CodeMirror {
  border:1px #ccc solid;
}

body.dashboard-themes {
  &.index {
    .tab-content {
      overflow:hidden;
    }
    .loading {
      margin:0 auto;
      background:image-url('ajax-loader.gif') no-repeat center center;
      width:32px;
      min-height:429px;
    }
    .empty {
      text-align:center;
      min-height:419px;
    }
    .description {
      height: 105px;
      overflow:hidden;
    }
    .theme {
      color:#fff;
      background-color: #36C4D2;
      @include background(linear-gradient(top, #60D0DB,#36C4D2 60%,#36C4D2));
      @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.2));
      @include border-radius(5px);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom:20px;
      img {
        width:100%;
        max-height:189px;
      }
      .stats {
        font-size:10px;
        text-transform: uppercase;
        padding:3px 10px;
      }
      .content-container {
        padding:10px 20px 0 20px;
      }
    }
    .extra {
      min-height:429px;
      padding-top:200px;
      text-align:center;
      border:5px dashed #eee;
      @include border-radius(5px);
    }
    div.pager {
      border-top:1px solid #eee;
    }
  }
  &.edit {
    .formtastic {
      .checkbox-container {
        display:inline-block;
        line-height:25px;
        padding-top:3px;
        input[type="checkbox"] {
          margin:0 10px 2px 0;
        }
      }
    }
    .navbar-inverse .navbar-inner {
      background:rgba(0,0,0,0.6);
    }
    #footer {
      background:rgba(0,0,0,0.6);
      color:#fff;
    }
    background:image-url('bg_tile.png') repeat;
    #page {
      position:fixed;
      top: 118px;
      left:50%;
      margin-bottom:20px;
      background-color:#fff;
      @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.4));
      @include transition-property(width, margin-left, bottom);
      @include transition-duration(0.2s);
      &.dragged {
        @include transition-property(none);
        @include transition-duration(0);
      }
      .title {
        color:#fff;
        height:48px;
        margin-top:-48px;
        h3 {
          margin:0;
          line-height:42px;
          i {
            margin-top: -5px;
          }
        }
      }
      #iframe-container {
        iframe {
          border:0;
        }
      }
      .frame-loading, .frame-cover {
        display:none;
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
      }
      .frame-cover {
        background-color:#fff;
        background-color:rgba(255,255,255,0.0);
      }
      .frame-loading {
        background-color:#222;
        background-color:rgba(0,0,0,0.8);
        div {
          position:absolute;
          top:50%;
          left:50%;
          margin-left:-64px;
          margin-top:-7px;
        }
      }
      &.desktop {
        width:1400px;
        margin-left:-700px;
      }
      &.laptop {
        width:980px;
        margin-left:-490px;
      }
      &.tablet {
        width:767px;
        margin-left:-383.5px;
      }
      &.phone {
        width:480px;
        margin-left:-240px;
      }
      &.builder {
        bottom: 401px;
      }
      &.no-builder {
        bottom: 61px !important;
      }
    }
    #theme-code-spacer {
      height:350px;
      display:none;
    }
    #theme-code {
      position: fixed;
      overflow: visible !important;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: white;
      z-index: 100;
      border-top: 1px solid #AAA;
      @include transition-property(height);
      @include transition-duration(0.2s);
      &.dragged {
        @include transition-property(none);
        @include transition-duration(0);
      }
      &.noheight {
        height:0 !important;
      }
      &.visible {
        height:400px;
      }
      #show-css {
        position: absolute;
        top: -39px;
        left: 20px;
        z-index: 9001;
        background-color: white;
        cursor: pointer;
        font-size: 16px;
        font-weight:bold;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px 20px 10px 20px;
      }
      .resize {
        width:100%;
        height:8px;
        line-height:0px;
        border-bottom:1px solid #ccc;
        cursor: n-resize;
        text-align:center;
      }
      .content-box {
        position:absolute;
        left:0;
        right:0;
        top:9px;
        bottom:0;
      }
      .css, .html {
        .pull-right {
          select {
            margin-bottom:0;
          }
          padding:4px;
        }
        position:absolute;
        left:0;
        width:50%;
        height:100%;
        h5 {
          height:20px;
          padding:10px;
          margin:0;
          border-bottom:1px #ccc solid;
        }
        .CodeMirror {
          border:0;
        }
      }
      .html {
        left:50%;
        border-left:1px #ccc solid;
      }
      .relative {
        position:relative;
        width:100%;
        height:350px;
        .editor {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
    .page-left {
      position:fixed;
      top:70px;
      bottom: 80px;
      left:0;
      padding:20px;
      padding-top:0;
      &.builder {
        bottom: 420px;
      }
    }
    .page-right {
      z-index: 90;
      position:fixed;
      right:0;
      top:70px;
      padding:20px;
      padding-top:0;
      @include transition-property(right);
      @include transition-duration(0.5s);
      #image-manager {
        position: fixed;
        overflow: visible !important;
        bottom: 80px;
        top:70px;
        right:0;
        width: 0;
        background-color: white;
        background-color:rgba(255,255,255,0.95);
        border-right: 0;
        @include transition-property(width, bottom);
        @include transition-duration(0.5s, 0.2s);
        &.dragged {
          @include transition-property(none);
          @include transition-duration(0);
        }
        .content-box {
          width:277px;
          padding:12.5px;
        }
        .gallery {
          margin-top:10px;
          padding-top:10px;
          border-top:1px solid #eee;
          a {
            float:left;
            &:hover {
              text-decoration:none;
            }
            img {
              margin-bottom:5px;
              margin-right:5px;
              background-size: cover;
              width:50px;
              height:50px;
            }
          }
        }
      }
      &.builder {
        #image-manager {
          bottom: 420px;
        }
      }

      &.no-builder {
        #image-manager {
          bottom: 80px !important;
        }
      }
      &.panel {
        #image-manager {
          border: 1px solid #AAA;
          width:300px;
        }
        right:300px;
      }
    }
    .icons {
      a.link {
        [class^="icon-"] {
          vertical-align:middle;
          width:auto;
          height:auto;
        }
        &:hover {
          text-decoration:none;
        }
        &.phone {
          background-image:image-url('phone_icon.png');
        }
        &.tablet {
          background-image:image-url('tablet_icon.png');
        }
        &.laptop {
          background-image:image-url('laptop_icon.png');
        }
        &.desktop {
          background-image:image-url('desktop_icon.png');
        }
        font-size:30px;
        background:#000 no-repeat center center;
        display:block;
        width:50px;
        height:50px;
        text-align:center;
        color:#fff;
        border:3px solid #fff;
        margin-bottom:10px;
        line-height: 45px;
        @include border-radius(30px);
        @include opacity(0.5);
        @include transition-property(opacity);
        @include transition-duration(0.2s);
        &:hover {
          @include opacity(0.8);
        }
        &.selected {
          @include opacity(1.0);
        }
      }
    }
  }
}

body .dashboard-create {
  .accordion {
    .accordion-heading {
      background-color: #e3e3e3;
      padding: 8px;
      .accordion-toggle {
        line-height: 30px;
        padding: 0px;
        font-size: 20px;
        text-decoration: none;
      }
    }
  }
}

