- content_for :scripts do
  = javascript_include_tag 'theme_library.js'
%script#extra-template{type:"text/x-handlebars-template"}
  .span3.extra
    %a.btn.btn-small{href: new_dashboard_theme_path}
      %i.icon-bolt &nbsp;
      Roll your own Theme
%script#content-template{type:"text/x-handlebars-template"}
  {{#each themes}}
  .span3.theme
    .stats
      .pull-right
        .name
          %strong {{owner_name}}
      %i.icon-bolt
      {{stats.campaigns}} &nbsp;
      %i.icon-heart
      {{stats.favourite.count}}
    %img{src:"{{main_image_url}}"}
    .content-container
      %h4 {{title}}
      %p.description
        %small {{short_description}}
      .pull-right
        {{#if stats.editable}}
        %a.btn.btn-small{href: "/dashboard/themes/{{id}}"}
          %i.icon-edit
        {{/if}}
        {{#if stats.favourite.me}}
        %a.btn.btn-danger.btn-small.un.likable{href:"#", "data-id" => "{{id}}"}
          %i.icon-heart
        {{else}}
        %a.btn.btn-small.likable{href:"#", "data-id" => "{{id}}"}
          %i.icon-heart-empty
        {{/if}}
      %a.btn.btn-primary.btn-small
        %i.icon-bolt &nbsp;
        %strong Use Theme
  {{/each}}
- content_for :masthead do
  .pull-right.operations
    %a.btn.btn-primary{href: new_dashboard_theme_path}
      %i.icon-bolt &nbsp;
      Roll your own Theme
  %h2 Themes
  %p Theme Library
.row
  .span12
    %ul#myTab.nav.nav-pills{style:"margin-bottom:0px;"}
      %li.active
        %a{id: "featured", :href => "#library_featured", "data-toggle" => "tab", "data-offset" => 0}
          %i{class:"icon-gift"}
          Featured
      %li
        %a{id: "recent",:href => "#library_recent", "data-toggle" => "tab", "data-offset" => 0}
          %i{class:"icon-time"}
          Recent
      %li
        %a{id: "favourites",:href => "#my_favourites", "data-toggle" => "tab", "data-offset" => 0}
          %i{class:"icon-heart"}
          Favourites
      %li
        %a{id: "me", :href => "#my_themes", "data-toggle" => "tab", "data-offset" => 0}
          %i{class:"icon-folder-open"}
          My Themes
    %hr
    .tab-content
      #library_featured.tab-pane.active
        .loading
        .empty.hidden
          %h3 No themes are currently featured.
          %a.btn.btn-primary{:href => new_dashboard_theme_path}
            %i{class:"icon-bolt"}
            Roll your own theme
        .content.row.hidden
        .pager
          %ul.pager
            %li.previous.disabled
              %a{:href => "#"} ← Newer
            %li.next.disabled
              %a{:href => "#"} Older →
          %br
      #library_recent.tab-pane
        .loading
        .empty.hidden
          %h3 No recent themes.
          %a.btn.btn-primary{:href => new_dashboard_theme_path}
            %i{class:"icon-bolt"}
            Roll your own theme
        .content.row.hidden
        .pager
          %ul.pager
            %li.previous.disabled
              %a{:href => "#"} ← Newer
            %li.next.disabled
              %a{:href => "#"} Older →
      #my_favourites.tab-pane
        .loading
        .empty.hidden
          %h3 You haven't added any themes to your favourites.
          %a.btn.btn-primary{:href => new_dashboard_theme_path}
            %i{class:"icon-bolt"}
            Roll your own theme
        .content.row.hidden
        .pager
          %ul.pager
            %li.previous.disabled
              %a{:href => "#"} ← Newer
            %li.next.disabled
              %a{:href => "#"} Older →
      #my_themes.tab-pane
        .loading
        .empty.hidden
          %h3 You haven't created any themes.
          %a.btn.btn-primary{:href => new_dashboard_theme_path}
            %i{class:"icon-bolt"}
            Roll your own theme
        .content.row.hidden
        .pager
          %ul.pager
            %li.previous.disabled
              %a{:href => "#"} ← Newer
            %li.next.disabled
              %a{:href => "#"} Older →
