.dash
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      %ul.nav
        %li{:class => ("active" if params[:action] == "dashboard")}
          %a{:href => "#"}
            %strong +Creator Dashboard
        %li{:class=>("active" if params[:controller] == "dashboard/dashboard" and params[:action] == "index") }
          %a{:href => "/dashboard"}
            My Campaigns
        %li{:class=>("active" if params[:controller] == "dashboard/themes") }
          %a{:href => "/dashboard/themes"}
            Themes
      .pull-right
        %ul.nav
          - if current_member.try(:admin?)
            %li.dropdown{:class=>("active" if params[:action] == "accounts" or params[:controller] == "dashboard/admin/content_types") }
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Admin
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "/dashboard/admin/accounts"}
                    - if Member.where("activated = false AND confirmed_at is not null").count > 0
                      %span.badge.badge-important
                        = Member.where("activated = false AND confirmed_at is not null").count
                    Accounts
                %li
                  %a{:href => "/dashboard/admin/content_types"}
                    Content Types
          %li{:class => ("active" if params[:action] == "settings")}
            %a{:href => "/dashboard/settings", style: "padding-top:10px"}
              = current_member.name
          %li
            %form.navbar-form
              %a.btn.btn-info.btn-mini{:href => destroy_user_session_path}
                %strong +Creator
                Logout
