#topbar
  .container
    #top-nav
      %ul
        %li
          %a{:href => "/"}
            Home
      %ul.pull-right
        %li
          %a
            %i.icon-user
            Logged in as
            = current_member.name
        %li
          %a{:href => "/dashboard/settings"}
            %i.icon-cog
            Settings
        %li
          %a{:href => destroy_user_session_path}
            %i.icon-fire
            Logout
#header
  .container
    %a.brand{href: "/dashboard/"} Creator+
    %a.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :href => "javascript:;"}
      %i.icon-reorder
    .nav-collapse.collapse
      %ul#main-nav.nav.pull-right
        %li.nav-icon{:class => ("active" if params[:controller] == "dashboard/dashboard" and params[:action] == "index")}
          %a{:href => "/dashboard/"}
            %i.icon-home
        %li.nav-icon{:class=>("active" if params[:controller] == "dashboard/dashboard" and params[:action] == "campaigns") }
          %a{:href => "/dashboard/campaigns"}
            %i.icon-th
            %span Campaigns
        %li.nav-icon{:class=>("active" if params[:controller] == "dashboard/themes") }
          %a{:href => "/dashboard/themes"}
            %i.icon-copy
            %span Themes
        - if current_member.try(:admin?)
          %li.dropdown{:class=>("active" if params[:action] == "accounts" or params[:controller] == "dashboard/admin/content_types") }
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.icon-bolt
              Admin
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "/dashboard/admin/accounts"}
                  - if Member.where("activated = false AND confirmed_at is not null").count > 0
                    %span.badge.badge-important
                      = Member.where("activated = false AND confirmed_at is not null").count
                  Accounts
              %li
                %a{:href => "/dashboard/admin/content_types"}
                  Content Types
