#topbar
  .container
    .row
      .pull-right
        - if current_member.nil?
          %a{:href => member_omniauth_authorize_path(:facebook)}
            Sign in
          or
          %a{:href => member_omniauth_authorize_path(:facebook)}
            Create an Account
%header
  .container.navigation
    .row
      .logo.span3
        %a.brand{:href => "#"}
          %i.icon-tint
          Creatr
          %div
            beta
      .span9
        .navbar.navbar-inverse
          .navbar-inner
            %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .nav-collapse.collapse
              %ul.nav
                %li{:class => ("active" if params[:action] == "index")}
                  %a{:href => "/ "}
                    Home
                %li{:class => ("active" if params[:action] == "tour")}
                  %a{:href => "/tour"}
                    Tour
                %li{:class => ("active" if params[:action] == "pricing")}
                  %a{:href => "/pricing"}
                    Pricing
                %li
                  %a{:href => "http://help.creatr.io"}
                    Support
